## Basics of Python

#### Basics of python

#### Hello World

## Hello

This is the first class of python where we will learn about basics of python

The jjndskfdgl
bewjjvfvbxk'[bviuv
bewugdu][
    bewwbdzcik
]
bgdewud

#### Basic

In [7]:
# degftriohghjfbqewfj
# ddbewfguhcjvl

#### ghjewrg

gwdbefrjghcv

gwdbefrjghcv

In [8]:
print("Hello World")

Hello World

In [9]:
print("hwdfjghkjhwc dvfbhgjnhmk")

hwdfjghkjhwc dvfbhgjnhmk

#### Python as a calculator

In [10]:
2345*678

1589910

In [11]:
#+,-,*, /, //, %

In [12]:
23+10

33

In [13]:
23-10

13

In [14]:
55*55

3025

In [15]:
12/5  # Float Division

2.4

In [16]:
12//5  # Integer Division

2

In [17]:
12%5  # Remainder

2

In [18]:
12+5*4-6/2+(456-34)*45

19019.0

In [19]:
x=10

In [20]:
Value_of_x=13

In [21]:
fghfjgoitrueywtdsfghjhkjvchxgdasfyuigogphlhgmkmnghjrkhlkhjghfdfscaxscdgfhjbvcxsfdyuifokvcjnb=34

#### Rules of objects

1. It can contains only character , number or _  ( Hello_10)
2. It can start only with character or _ and followed by charecters or number ( _Hello, Hello)
3. It is case sensitive 
4. There is no limit in character 
5. Dont use reserved Keyword

In [22]:
print("hello World")

hello World

In [23]:
print=10

In [24]:
print

10

In [25]:
print("Hello")

TypeError: 'int' object is not callable

In [ ]:
10hello=100

In [ ]:
_10hek=10

In [ ]:
_19=19

In [ ]:
19_hello=13568

In [ ]:
193458_87345yu=10

#### Data Types

In [ ]:
#Numerical , string

In [26]:
x=10

In [27]:
type(x)

int

In [28]:
x=10.45

In [29]:
type(x)

float

In [30]:
y="hello"

In [31]:
type(y)

str

#### Data Structure

In [32]:
#list

In [33]:
list1=[234,67,45,12,67]

In [34]:
type(list1)

list

In [35]:
list2=["hello", "World", "Mango", "Apple"]

In [36]:
type(list2)

list

In [37]:
list3=[34,5,89,'Apple', "Mango"]

In [38]:
type(list3)

list

In [39]:
list1

[234, 67, 45, 12, 67]

In [40]:
list2

['hello', 'World', 'Mango', 'Apple']

TypeError: 'int' object is not callable

In [42]:
dir(list1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [43]:
dir(x)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [44]:
list5=[2,5,8,1,3,5,10]

In [45]:
list5.append(100)

In [46]:
list5

[2, 5, 8, 1, 3, 5, 10, 100]

In [47]:
help(list5.reverse)

Help on built-in function reverse:

reverse() method of builtins.list instance
    Reverse *IN PLACE*.

In [48]:
list5

[2, 5, 8, 1, 3, 5, 10, 100]

In [49]:
list5.reverse()

In [50]:
list5

[100, 10, 5, 3, 1, 8, 5, 2]

In [51]:
list5.pop()

2

In [52]:
list5

[100, 10, 5, 3, 1, 8, 5]

In [53]:
?list5.pop

In [54]:
list5.pop(2)

5

In [55]:
list5.extend([35,79,23,456])

In [56]:
list5

[100, 10, 3, 1, 8, 5, 35, 79, 23, 456]

In [57]:
list6=[678,78,789]

In [58]:
list5.extend(list6)

In [59]:
list5

[100, 10, 3, 1, 8, 5, 35, 79, 23, 456, 678, 78, 789]

In [60]:
?list5.insert

In [61]:
list5.insert(1, 100000)

In [62]:
list5

[100, 100000, 10, 3, 1, 8, 5, 35, 79, 23, 456, 678, 78, 789]

In [63]:
?list5.remove

In [64]:
list5.remove(100000)

In [65]:
list5

[100, 10, 3, 1, 8, 5, 35, 79, 23, 456, 678, 78, 789]

In [66]:
?list5.count

In [67]:
list5.count(10)

1

In [68]:
list7=[6,6,7,1,3,6,7,0]

In [69]:
list7.count(6)

3

In [70]:
list8=list5

In [71]:
list8

[100, 10, 3, 1, 8, 5, 35, 79, 23, 456, 678, 78, 789]

In [72]:
list5

[100, 10, 3, 1, 8, 5, 35, 79, 23, 456, 678, 78, 789]

In [73]:
list8.pop()

789

In [74]:
list8

[100, 10, 3, 1, 8, 5, 35, 79, 23, 456, 678, 78]

In [75]:
list5

[100, 10, 3, 1, 8, 5, 35, 79, 23, 456, 678, 78]

In [76]:
list9=list5.copy()

In [77]:
list9.pop()

78

In [78]:
list9

[100, 10, 3, 1, 8, 5, 35, 79, 23, 456, 678]

In [79]:
list5

[100, 10, 3, 1, 8, 5, 35, 79, 23, 456, 678, 78]

In [80]:
list5.clear()

In [81]:
list5

[]

In [82]:
del list5

#### Other functions on List

In [83]:
list9

[100, 10, 3, 1, 8, 5, 35, 79, 23, 456, 678]

In [84]:
len(list9)

11

In [85]:
sum(list9)

1398

#### Indexing

In [86]:
list9

[100, 10, 3, 1, 8, 5, 35, 79, 23, 456, 678]

In [87]:
list9[0]

100

In [88]:
list9[10]

678

In [90]:
list9[2]

3

In [91]:
list9[-1]

678

In [92]:
list9[-11]

100

In [93]:
list9

[100, 10, 3, 1, 8, 5, 35, 79, 23, 456, 678]

In [94]:
# Adding or subtracting of two or more lists

In [95]:
list10=[3,5,7,8,9]
list11=[10,24,67,56,99]

In [96]:
list11-list10  #  Subtraction is not supported

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [97]:
list11+list10 # Addition ( + symbol ) works as extend command

[10, 24, 67, 56, 99, 3, 5, 7, 8, 9]

#### Slicing and Indexing of list

In [98]:
list12=[10,11,12,13,14,15,16,17,18,19,20]

In [99]:
list12[-4]

17

In [100]:
list12[-4]; 
list12[-4:6];
list12[-4:-8];
list12[9]; 
list12[5:9]; 
list12[:5];  
list12[3:]; 
list12[:-4];

In [101]:
list12

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [102]:
list12[2]=10000

In [103]:
list12

[10, 11, 10000, 13, 14, 15, 16, 17, 18, 19, 20]

In [104]:
x=10

#### Set

In [105]:
set1={3,6,8,12,67,100,4,6,3,8}

In [106]:
set1

{3, 4, 6, 8, 12, 67, 100}

In [109]:
U={0,1,2,3,4,5,6,7,8,9}  # Universal set 
E={2,4,6,8,3}
O={3,5,7,9,4}
P={2,3,5,7}

In [108]:
dir(U)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [110]:
O.union(E)

{2, 3, 4, 5, 6, 7, 8, 9}

In [111]:
O.intersection(E)

{3, 4}

In [112]:
O.difference(E)

{5, 7, 9}

In [113]:
O

{3, 4, 5, 7, 9}

In [114]:
E

{2, 3, 4, 6, 8}

In [115]:
E.difference(O)

{2, 6, 8}

In [116]:
E.symmetric_difference(O)

{2, 5, 6, 7, 8, 9}

In [117]:
E.issubset(U)

True

In [118]:
E.issubset(O)

False

In [119]:
U.issuperset(E)

True

In [120]:
O.issuperset(E)

False

In [121]:
O.isdisjoint(E) # if two sets do not have any common elememts then both are disjoint

False

In [126]:
E

{2, 3, 4, 6, 8}

In [127]:
O

{3, 4, 5, 7, 9}

In [128]:
E.difference_update(O)

In [129]:
E

{2, 6, 8}

### Dictionary

In [131]:
ABC1={"Name":"Harry", "Age":26, "Income":10000}

In [132]:
ABC1

{'Name': 'Harry', 'Age': 26, 'Income': 10000}

In [133]:
ABC2={"Name":["Harry", "John"], "Age":[26,36], "Income":[10000, 98566]}

In [134]:
ABC2

{'Name': ['Harry', 'John'], 'Age': [26, 36], 'Income': [10000, 98566]}

In [135]:
ABC3={"Name":["Harry", "John", "Dawn"], "Age":[26,36], "Income":[10000, 98566]}

In [136]:
ABC3

{'Name': ['Harry', 'John', 'Dawn'], 'Age': [26, 36], 'Income': [10000, 98566]}

In [137]:
ABC4={"Name":{"Harry", "John", "Dawn", "Harry"}, 
      "Age":{67,45,45,12}, "Income":{10000, 98566,67890,67898}}

In [138]:
ABC4

{'Name': {'Dawn', 'Harry', 'John'},
 'Age': {12, 45, 67},
 'Income': {10000, 67890, 67898, 98566}}

In [139]:
ABC4={"Name":["Harry", "John", "Dawn", "Harry"], 
      "Age":[67,45,45,12], "Income":[10000, 98566,67890,67898]}

In [140]:
ABC4

{'Name': ['Harry', 'John', 'Dawn', 'Harry'],
 'Age': [67, 45, 45, 12],
 'Income': [10000, 98566, 67890, 67898]}

In [141]:
dir(ABC4)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [144]:
ABC4.items() # it prints tuples of key and itmes

dict_items([('Name', ['Harry', 'John', 'Dawn', 'Harry']), ('Age', [67, 45, 45, 12]), ('Income', [10000, 98566, 67890, 67898])])

In [145]:
ABC4["Name"]  # to take out all the values stored in the key

['Harry', 'John', 'Dawn', 'Harry']

In [147]:
ABC4["Name"][2]  # to get particulare value from the specific key

'Dawn'

In [148]:
ABC4.values()  # it give us the values

dict_values([['Harry', 'John', 'Dawn', 'Harry'], [67, 45, 45, 12], [10000, 98566, 67890, 67898]])

In [150]:
ABC4.keys()  # list of all the keys

dict_keys(['Name', 'Age', 'Income'])

#### Tuple

In [151]:
tup1=(2,5,6,8,9)

In [152]:
tup1

(2, 5, 6, 8, 9)

In [153]:
type(tup1)

tuple

In [154]:
tup1=(2,2,3,3,4,4,4,4,19)

In [155]:
tup1

(2, 2, 3, 3, 4, 4, 4, 4, 19)

In [156]:
dir(tup1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

### Convrsion of data types/ data structer

In [157]:
x=10

In [158]:
type(x)

int

In [159]:
y=str(x)

In [160]:
type(y)

str

In [161]:
x="Hello"
y=int(x)

ValueError: invalid literal for int() with base 10: 'Hello'

In [162]:
x="10"
y=int(x)

### Arithmatic Operators

In [163]:
x=10
y=6

In [166]:
z=x+y
z

16

In [167]:
z=x/y
z

1.6666666666666667

In [168]:
z=x//y #( Floor Division)
z

1

In [169]:
Z=x%y # Remainder
Z

4

In [170]:
x**2 # Exponent ( x to the power 2)

100

In [172]:
z=x**y
z

1000000

### comparision

In [173]:
3>5

False

In [174]:
4>3

True

In [175]:
4>=4

True

In [176]:
5 !=4

True

In [177]:
4==4

True

In [178]:
# >, <, >=, <=, !=, ==

#### Logical Operators

In [179]:
(3>4) and (3>2)

False

In [180]:
(4>3) and (5>4)

True

In [182]:
(3>4) and (3>2)

False

In [183]:
not (3>4)

True

#### Bitwise operators

In [192]:
3 & 10

2

In [188]:
bin(3)

'0b11'

In [189]:
bin(10)

'0b1010'

In [190]:
bin(3)

'0b11'

In [193]:
bin(2)

'0b10'

In [194]:
# 3^10 , >>, <<

### Assigment Opr

In [199]:
x=10
y=12
z=x+y
z

22

In [200]:
x=10
y=12
x=x+y
x

22

In [202]:
x=10
y=12

x+=y
x

22

In [203]:
z=100
z-=25
z

75

In [205]:
v=100
v/=25
v

4.0

#### Special Operators

#### identity Operators

In [206]:
4 is 4

True

In [207]:
4 is not 5  # what is the diff between = and is , != and is not ?

True

In [209]:
4 is 4

True

#### Membership operators

In [210]:
# in; not in

In [211]:
d=[4,6,7,8]
4 in d

True

In [212]:
10 in d

False

In [213]:
10 not in d

True